<div class="title"><a href="<%= url %>"><%= title %></a></div>
<span class="meta">
  <span class="feedName"><%= feed_name %></span>
  on
  <time datetime="<%= publication_time.toISOString() %>" class="publication"><%= publication_time.toTPRString() %></time>
</span>
