<html>
<head>
  <title>The Pithy Reader</title>
  <script id="login_page_template" type="underscore/template">
    <header>
      <h1>The Pithy Reader</h1>
    </header>
    <form>
      <dl>
        <dt>
          <label for="name">User name</label>
        </dt>
        <dd><input type="text" id="name" name="name" autofocus /></dd>

        <dt>
          <label for="password">Password</label>
        </dt>
        <dd><input type="password" id="password" name="password" /></dd>
      </dl>

      <input type="submit" value="Login" />
      <a href="#" class="register">Create an account</a>
    </form>
  </script>

  <script id="register_page_template" type="underscore/template">
    <form>
      <dl>
        <dt>
          <label for="name">User name</label>
        </dt>
        <dd><input type="text" id="name" name="name" /></dd>

        <dt>
          <label for="password">Password</label>
        </dt>
        <dd><input type="password" id="password" name="password" /></dd>

        <dt>
          <label for="passwordConfirmation">Password Confirmation</label>
        </dt>
        <dd><input type="password" id="passwordConfirmation" name="passwordConfirmation" /></dd>
      </dl>
      <input type="submit" value="Register" />
    </form>
  </script>

  <script id="home_page_template" type="underscore/template">
    <a href="#" class="markAllRead">Mark All Read</a>
  </script>

  <script id="item_template" type="underscore/template">
    <a class="title" href="<%= url %>"><%= title %></a>
    <span class="meta">
      <span class="feedName"><%= feed_name %></span>
      at
      <time datetime="<%= publication_time %>" class="publication"><%= moment(publication_time).format("MMMM Do, YYYY [at] h:mm a") %></time>
    </span>
  </script>

  <script id="subscribe_page_template" type="underscore/template">
    <h1>New Subscription</h1>
    <form>
      <dl>
        <dt>
          <label for="url">Feed URL</label>
        </dt>
        <dd><input type="text" name="url" /></dd>
      </dl>
      <input type="submit" value="Subscribe" />
    </form>
  </script>

  <script id="feeds_page_template" type="underscore/template">
    <h1>Feeds</h1>
  </script>

  <script id="feeds_page_feed" type="underscore/template">
    <a class="name" href="<%= url %>"><%= name %></a>
    <div class="meta">
      <% if(last_publication_time) { %>
        Last published
        <time datetime="<%= last_publication_time %>"><%= moment(last_publication_time).format("MMMM Do, YYYY [at] h:mm a") %></time>
      <% } %>
    </div>
    <% if(failure_count > 0) { %>
      <div class="error">
        <%= last_failure %>
      </div>
    <% } %>
    <div class="actions">
      <a class="unsubscribe" href="#">Unsubscribe</a>
    </div>
  </script>

  <script id="logged_in_header_template" type="underscore/template">
    <h1>The Pithy Reader</h1>
    <a href="#home">Home</a>
    <a href="#subscribe">Subscribe</a>
    <a href="#feeds">Feeds</a>
    <a href="#import">Import</a>
    <a href="#" class="logout">Logout</a>
  </script>

  <script id="import_page_template" type="underscore/template">
    <h1>Import Subscriptions from OPML</h1>
    <form>
      <dl>
        <dt>
          <label for="file">OPML File</label>
        </dt>
        <dd><input type="file" name="file" /></dd>
      </dl>
      <input type="submit" value="Import" />
    </form>
  </script>

  <link type="text/css" rel="stylesheet" href="/css/application.css">
  <script src="/js/application.js"></script>
</head>
<body>
<div id="view"></div>
</body>
</html>